<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lujian.eureka_admin.mapper.CompanyMapper">

    <!--添加公司信息  -->
    <insert id="insertCompany" parameterType="com.lujian.eureka_admin.entity.Company">
        insert into company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cname != null and cname!=''">
                cname,
            </if>
            <if test="cabbreviation != null and cabbreviation !=''">
                cabbreviation,
            </if>
            <if test="weixin != null and weixin !=''">
                weixin,
            </if>
            <if test="uid != null and uid!=''">
                uid,
            </if>
            <if test="creattime != null and creattime!=''">
                creattime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cname != null and cname!=''">
                #{cname},
            </if>
            <if test="cabbreviation != null and cabbreviation !=''">
                #{cabbreviation},
            </if>
            <if test="weixin != null and weixin !=''">
                #{weixin},
            </if>
            <if test="uid != null and uid!=''">
                #{uid},
            </if>
            <if test="creattime != null and creattime!=''">
                #{creattime},
            </if>
        </trim>
    </insert>

    <!-- 修改用户 -->
    <update id="updateCompany" parameterType="com.lujian.eureka_admin.entity.Company">
        update company
        <set>
            <if test="cname != null and cname!=''">
                cname=#{cname},
            </if>
            <if test="cabbreviation != null and cabbreviation !=''">
                cabbreviation=#{cabbreviation},
            </if>
            <if test="weixin != null and weixin !=''">
                weixin=#{weixin},
            </if>
            <if test="uid != null and uid!=''">
                uid=#{uid},
            </if>
            <if test="creattime != null and creattime!=''">
                creattime=#{creattime},
            </if>
        </set>
        where cid=#{cid}
    </update>

    <!-- 通过微信ID或者用户ID查询关联的信息 -->
    <select id="queryCompanyByUidOrCid" resultType="com.lujian.eureka_admin.entity.Company">
        SELECT
        a.cid,
        a.cname,
        a.cabbreviation,
        a.weixin,
        a.uid,
        a.creattime,
        b.username
        FROM
        company a
        LEFT JOIN user b ON a.uid = b.uid
        <where>
            <if test="uid != null and uid != ''">
                and a.uid = #{uid}
            </if>
            <if test="cid != null and cid != ''">
                and a.cid = #{cid}
            </if>
        </where>
        order by a.creattime desc
    </select>

    <!-- 通过ID删除 -->
    <delete id="deleteCompanyByCid" parameterType="int">
 		delete from company where cid=#{cid}
 	</delete>

    <!-- 通过名称查询 -->
    <select id="queryCompanyByCname" resultType="com.lujian.eureka_admin.entity.Company">
		select * from company where cname=#{cname}
	</select>

    <select id="queryCompanyByCid" resultType="com.lujian.eureka_admin.entity.Company">
        select * from company where cid=#{cid}
    </select>
</mapper>