<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lujian.eureka_admin.mapper.DeptMapper">
    <!--添加部门-->
    <insert id="insertDept" parameterType="com.lujian.eureka_admin.entity.Dept">
        insert  into dept (deptname,deptremark,cid) values(#{deptname},#{deptremark},#{cid})
    </insert>

    <!--修改部门-->
    <update id="updateDeptByDeptId" parameterType="com.lujian.eureka_admin.entity.Dept">
        update dept
        <set>
            <if test="deptname != null and deptname!=''">
                deptname=#{deptname},
            </if>
            <if test="deptremark != null and deptremark !=''">
                deptremark=#{deptremark},
            </if>
        </set>
        where deptid=#{deptid}
    </update>

    <!--删除部门-->
    <delete id="deleteDeptByDeptId" parameterType="com.lujian.eureka_admin.entity.Dept">
        delete  from dept where deptid=#{deptid}
    </delete>

    <!--查询部门-->
    <select id="queryDeptByDeptId" resultType="com.lujian.eureka_admin.entity.Dept">
        select  * from dept where deptid=#{deptid}
    </select>

    <!--用户绑定部门-->
    <insert id="insertDeptByUsers" parameterType="java.util.List">
        insert into deptuser
        ( deptid,uid)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.deptid},
            #{item.uid}
            )
        </foreach>
    </insert>

    <!--部门与用户解绑-->
    <delete id="deleteDeptByUserId" parameterType="com.lujian.eureka_admin.entity.DeptUser">
        delete  from  deptuser where  deptid=#{deptid} and uid=#{uid}
    </delete>

    <!--通过部门ID查询对应的人员-->
    <select id="queryUserByDeptId" resultType="com.lujian.eureka_admin.entity.DeptUser">
        select a.*,b.username from deptuser a left join user b on a.uid=b.uid where a.deptid=#{deptid}
    </select>

    <!--查询用户不在部门的-->
    <select id="queryUserNotDept" resultType="com.lujian.eureka_admin.entity.User">
        select * from user where uid not in (select uid from deptuser)
    </select>
</mapper>